<p class="landing_description">
	Makers' Moon is an online business management tool created for makers of all kinds. It includes an easy to use, secure database for makers' to manage their business and public facing pages to promote the maker and their works. Makers' Moon stores detailed records of makers' works including images, descriptions, expenses and value. Past, current, and future venues and clients are also managed in the tool. Makers' Moon tracks the movement of works, the schedules of commissions and consignments with clients and venues and their collections. It also provides insights into each makers' business through detailed reports while helping to promote their work!
	<br /><br />
	<span class="landing_tag">Makers' Moon is currently is beta mode and invite only!</span>
</p>

