<% provide(:title, 'Contact') %>
<div class="section">
	<h2><%= yield(:title) %></h2>
</div>
<div class="contact-text">
	<p>
		<a href='mailto:julia@juliadziuba.com'>julia@juliadziuba.com</a><br />
    <a href="http://www.facebook.com/JuliaDziuba.Jewelry" target="_blank">Facebook</a> | <a href="https://twitter.com/CuriousDziuba" target="_blank">Twitter</a> | <a href="http://pinterest.com/juliadziuba/" target="_blank">Pinterest</a>
  </p>
</div>