<div class="row-fluid">
	<div class="offset1">
		<h1>Features</h1>
	</div>
</div>
<div class="row-fluid">
	<div class="span3 offset1 feature_image"><%= image_tag "workInventory.png", alt: "Picture of works page within Makers' Moon" %></div>
	<div class="span7">
		<div>
			<h3>Web-based platform</h3>
			<p>In today’s world your business must respond quickly. Makers' Moon stores all of your inventory and business data in an online secure database. This means you can access your information on any device anywhere with internet access. This will make you more efficient in your bookkeeping and more professional when out working with venues and clients. Never let disorganization hurt your business again.</p>
		</div>
		<div>
			<h3>Works inventory</h3>
			<p>Take control of your works and inventory. Makers’ Moon allows you to create extensive records for each work and then organize your works into bodies of work and share them with the public. This will allow you and potential clients to appreciate your artistic evolution and all you have accomplished.</p>
		</div>
	</div>
</div>
<br />
<div class="row-fluid">
	<div class="span7 offset1">
		<div>
			<h3>Business management</h3>
			<p>Makers’ Moon is an integrated business management tool that enables you to keep detailed records of which works have been to which venues for how long and at what price. Appreciating where your art has been, where it is showing, and who is purchasing your work will help you understand your business and target audiences. Fine tuning your business focus will leave you with more time to do what you love - create!</p>
		</div>
		<div>
			<h3>Business relations</h3>
			<p>Present yourself in a professional manor with a couple clicks of a mouse. With all of your data in Makers’ Moon we can help you secure new clients with a professional public website, portfolio pages, and price lists. We can also improve your relations with existing clients by taking care of the creation of invoices and consignment sheets.</p>
		</div>
	</div>
	<div class="span3 feature_image"><%= image_tag "businessManagement.png", alt: "Picture of works page within Makers' Moon" %></div>
</div>
<br />
<div class="row-fluid">
	<div class="span3 offset1 feature_image"><%= image_tag "advancedReporting.png", alt: "Picture of works page within Makers' Moon" %></div>
	<div class="span7">
		<div>
			<h3>Advanced reports</h3>
			<p>With your business data collected in a single tool advanced reporting and insights becomes easy. As a Makers’ Moon user you will have constant access to a current snap shot of your business over the last month, 6 months, year, 5 years, and to-date. Annual reports will also be available to look at the year in review.</p>
		</div>
		<div>
			<h3>Secure data</h3>
			<p>With nightly backups, your data will never be lost. Makers’ Moon allows you to access your data on any device from anywhere with an internet connection. In addition, data can always be exported.</p>
		</div>
	</div>
</div>
<br />
<div class="row-fluid">
	<div class="span7 offset1">
		<div>
			<h3>Public Site</h3>
			<p>Let Makers' Moon help promote you! With just a couple easy clicks Makers' Moon users can create public webpages to promote themselves and their work. Users can create pages to share collections of work and have the control to select which pieces are shown and what details are shared about them. These will be automatically updated to let your clients know which pieces are available and how they can purchase them. In addition, users can create a page about themselves, a contact page and link to an external blog and other social sites they may use to promote themselves.</p>
		</div>
	</div>
	<div class="span3 feature_image"><%= image_tag "publicSite.png", alt: "Picture of works page within Makers' Moon" %></div>
</div>
