<div class="row-fluid">
	<div class="span6">
		<h1>FAQ</h1>
		<ul>
			<li class="list spaced">
				Privacy
				<ul>
					<li>
						<a id="PublicVsPrivate_select" href="#PublicVsPrivate">What is Public vs. Private?</a>
						<div id="PublicVsPrivate" class="not-displayed">
							MakersMoon offers makers business management tools including a database with records for works, venues, clients, and the interactions of these things. All of this data is accessed via the left panel. This is all private. It is only accessable by the maker that owns the data.<br /><br /> 

							Makers can expand their MakersMoon profile to share basic data with other makers. This can be done by configuring the <i>Maker Profile</i> available in the <i>MakersMoon</i> drop down on the header. <br /><br />

							Makers can also create a public profile accessable to anyone with an internet connection via options in the the <i>Site</i> section in the header.<br /><br />
						</div>
					</li>
				</ul>
				<li class="list spaced">
					Work categories
					<ul>
						<li>
						</li>
					</ul>
				</li>
			</li>
		</ul>
	</div>
	<div class="span4 offset1">
		<h1>Send a question</h1>
		<%= render 'form_question', question: @question %>
	</div>
</div>