<% if signed_in? %>
<% else %>
	<div class="center">
		<h1>GERONIMO!</h1>
		<p><br />
			<%= link_to "Sign up", signup_path %> &nbsp; &nbsp; &nbsp; <%= link_to "Sign in", signin_path %>
	</p>
<% end %>
