<div class="row-fluid landing-top-margin">
	<h1>GERONIMO!</h1>
	<p>
		<%= link_to "Sign up", signup_path %> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <%= link_to "Sign in", signin_path %>
	</p>
<div>