<div class="row-fluid">
	<div class="span6 offset1">
		<h1>Pricing</h1>
		<%= render 'pricing_table' %>
	</div>
	<div class="span3 offset1">
		<h1>Get started!</h1>
		<p>Sign up for &nbsp; <span class="h2">free</span> &nbsp; then upgrade when you need to!</p>
		<%= render 'users/form_user_initial', user: @user %>
	</div>
</div>
<br /><br /><br />
<div class="row-fluid">
	<div class="span11 offset1">
		<h1>FAQ</h1>
	</div>
</div>
<div class="row-fluid">
	<div class="pricing_questions span5 offset1">
		<h3>Can I try it out?</h3>
		<p>Yes! You can sign up as an apprentice for free! With an apprentice membership you have access to all the features of the tool. When you've decided Makers' Moon is a great asset to your business you can upgrade your account to manage more works, clients, and venues.</p>
		<h3>How are payments made?</h3>
		<p>When you've outgrown one tier of Makers' Moon you will be asked if you'd like to upgrade your account. All payments are made through paypal and are secure! No paypal account is needed, credit cards are accepted.</p>
	</div>
	<div class="pricing_questions span5 offset1">
		<h3>Why the fee?</h3>
		<p>Makers' Moon takes the hassle out of maintaining your business data and allows you to access it from anywhere. We also allow you to keep photos and information of each piece in one place for ultimate organization. With daily backups you can trust your data is safe.</p>
		<h3>What happens if I cancel?</h3>
		<p>All of your data can be exported from Makers' Moon. You can decide if you'd like us to delete the data or hang on to it in case you return! No additional fees will be charged.</p>
	</div>
</div>