<% provide(:crumbs, 'Sites,#|' + @site.brand + ',' + site_path(@site)) %>
<% provide(:title, "Public works") %>

<% if @selected.any? %>
  <%= render 'table_works_public', works: @selected  %>
<% end %>
<br />
<br />
<% if @unselected.any? %>
	<h2> Add works to your public site </h2>
	<%= render 'form_siteworks', site: @site, sitework: @sitework, works: @unselected %>
<% else %>
	All works are currently shown publically!
<% end %>



