<% provide(:crumbs, 'Sites,#|' + @site.brand + ',' + site_path(@site)) %>
<% provide(:title, "Public venues") %>

<% if @selected.any? %>
  <%= render 'table_venues_public', venues: @selected %>
<% end %>
<br />
<br />
<% if @unselected.any? %>
	<h2> Add venues to your public site </h2>
	<%= render 'form_sitevenues', site: @site, sitevenue: @sitevenue, venues: @unselected %>
<% else %>
	All venues are currently shown publically!
<% end %>



