<table id="works_thumb_view">
	<tr class="row-fluid">
		<% works.each_with_index do |work, index| %>
			<% if index % 4 == 0 and index > 0 and index + 1 < works.length %>
				</tr><tr class="row-fluid">
			<% end %>
			<td class="span3">
				<%= link_to image_tag(work.image1.url(:medium)), work_path(work) %>
				<br /><%= "#{work.title} (#{work.inventory_id})" %><br /><%= work.status %>
			</td>
		<% end %>
	</tr>
</table>