<% provide(:title, 'Works') %>

<% if @works.any? %>
	<% provide(:new_form, "new_work") %>

	<div id="new_work" class="not-displayed">
		<%= render 'shared/form_work', work: @work %>
	</div>
	<%= link_to "Manage Categories", workcategories_path %><br /><br />
  <%= render 'shared/table_works', works: @works, include_category: true, include_subcategory: true%>
<% else %>
	<%= render 'shared/get_started_works' %>
<% end %>
