<% provide(:crumbs, "Works," + works_path) %>
<% provide(:title, 'New') %>
<div class="row-fluid">
	<div class="span7">
		<%= render 'form_work', work: @work, categories: @workcategories %>
	</div>
</div>
