<% provide(:crumbs, "Works," + works_path) %>
<% provide(:title, @work.title) %>
<% provide(:delete_record, @work) %>
<%= render 'form_work', work: @work, categories: @workcategories %>
<% status = status(@work) %>
<p>This work is <%= status %></p>

<% if @activities.any? || status == 'Available' %>
	<h2>
		<% if @activities.any? %>Its Journey &nbsp; <% end %>
		<% if status == 'Available' %>
			<%= link_to "New Activity", "activities/new?work=#{@work.inventory_id}" %>
		<% end %>
	</h2>
<% end %>
<% if @activities.any? %>
	<%= render 'activities/table_activities', activities: @activities, date_end_include: true, client_include: true %>
<% end %>
