  <% if user.share_about %>
    <%= link_to "About", about_user_path(user) %>
    <% if user.share_contact || user.share_purchase || user.blog.present? %>
      &nbsp;|&nbsp; 
    <% end %>
  <% end %>
  <% if user.share_contact %>
    <%= link_to "Contact", contact_user_path(user) %>
    <% if user.share_purchase || user.blog.present? %>
      &nbsp;|&nbsp; 
    <% end %>
  <% end %>
  <% if user.share_purchase %>
    <%= link_to "Purchase", purchase_user_path(user) %>
    <% if user.blog.present? %>
      &nbsp;|&nbsp; 
    <% end %>
  <% end %>
  <% if user.blog.present? %>
    <%= link_to "Blog", user.blog %>
  <% end %>  
  <br /><br />
  <% if user.share_works && user.works.shared_with_public.any? %>
    <% user.workcategories.parents_of_shared_with_public.each_with_index do |parent, i| %>
      <% children = user.workcategories.children_of_parent(parent).shared_with_public %>
      <% if children.count > 0 %>
        <span class="dropdown in-front">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <%= parent.name %> <b class="caret bottom lighter"></b></a>
          <ul class="dropdown-menu in-front">
            <% if user.works.shared_with_public.in_category(parent).any? %>
              <li><%= link_to parent.name, "/makers/#{user.to_param}/#{parent.name}" %></li>
            <% end %>
            <% user.workcategories.children_of_parent(parent).shared_with_public.each do |child| %>
              <li><%= link_to child.name, "/makers/#{user.to_param}/#{child.name}" %></li>
            <% end %>
          </ul>
        <% elsif user.works.shared_with_public.in_category(parent).any? %>
          <%= link_to parent.name, "/makers/#{user.to_param}/#{parent.name}" %>               
        <% end %>
      </span>
      <br />
    <% end %>
  <% end %>