<% provide(:title, '') %>

<div class="row-fluid landing-top-margin">
  <div class="span6 offset4">
    <h1><%= full_title(yield(:title)) %><span class="p"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Have an acount? <%= link_to "Sign in", signin_path %></span></h1>
  </div>
</div>

<%= render 'shared/form_user' user: @user %>