<div class="row-fluid">
	<div class="span3 offset4">
		<h1>Sign up</h1>
	  <%= render 'form_user_initial', user: @user %>
	  <a class="landing_tag" href="<%= signin_path %>">Have an acount? Sign in!</a>
	</div>
</div>
