<% provide(:title, 'Take Action') %>
<h2>Manage your art business</h2>
<p>This software allows you to manage your works, venues, clients, and their interactions along with creating public facing sites for your work. </p>

