<% if @workcategories.any? %>
	<ul class="list">
	  <% @workcategories.each do |workcategory| %>
	    <li>
	      <%= render 'shared/work_category_list_element', level: 'list', category: workcategory, edit: edit_workcategory_path(workcategory) %>
	      <ul class="sublist">
	      	<% workcategory.worksubcategories.each do |worksubcategory| %>
	          <li>
	            <%= render 'shared/work_subcategory_list_element', level: 'sublist', category: workcategory, subcategory: worksubcategory %>
	          </li>
	        <% end %>
	      </ul>
	    </li>
	  <% end %>
	</ul>
<% else %>
	<%= render 'shared/get_started_work_categories' %>
<% end %>
<% if @works.any? %>

<% else %>
	<%= render 'shared/get_started_works' %>
<% end %>
