<%= form_for(@category, :html => { :class => "form-horizontal" }) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
  <div class="row-fluid">
  	<div class="span6">
  		<div class="control-group">
        <%= f.label :name, :class => "control-label" %>
        <div class="controls">
              <%= f.text_field :name%>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :description, :class => "control-label" %>
        <div class="controls">
              <%= f.text_field :description%>
        </div>
      </div>
      <h2>Subcategories</h2>
      <% for @worksubcategory in @category.worksubcategories %>
        <%= @worksubcategory.name %>
        <%= render 'shared/error_messages', object: @worksubcategory %>
        <% fields_for "worksubcategory[]" do |s| %>
        <div class="control-group">
            <%= s.label :name, :class => "control-label" %>
            <div class="controls">
                  <%= s.text_field :name%>
            </div>
          </div>
          <div class="control-group">
            <%= s.label :description, :class => "control-label" %>
            <div class="controls">
                  <%= s.text_field :description%>
            </div>
          </div>
        <% end %>
      <% end %>
      <div class="row-fluid">
        <div class="form-actions">
          <%= f.submit class: "btn" %>
        </div> 
      </div>
 		</div>
	</div>
<% end %>