<h1>Get Started!</h1>
<p> Step 1: Start managing your works. Let us know some categories and subcategories for your work. For example...</p>
<ul>
	<li>Paintings
		<ul>
			<li>Landscapes</li>
			<li>Abstract</li>
		</ul>
	</li>
	<li>Mixed media
		<ul>
			<li>Paper collage</li>
			<li>Resin mixtures</li>
		</ul>
	</li>
</ul>
