<p>Include venues you are currently working with or interested in. You can then track movement of your works as the tool manages where your works have been, where they are going and when they will return (if not sold). Venues are categorize as:</p>
<ul>
  <% @venuecategories.each do |category| %>
    <li  class="spaced">
      <%= category.name %>: <span class="description"><%= category.description %></span>
    </li>
  <% end %>
</ul>
<h2>Create a Venue </h2>
<%= render 'shared/form_venue', venue: @venue %>