<div class=<%="dropdown " + level + "-name" %>>
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
		<%= category.name %>
	</a>
	<ul class="dropdown-menu">
		<% if level != "h1" %>
			<li><%= link_to "view", venuecategory_path(category) %></li>
		<% end %>
		<li><%= link_to "edit", edit_venuecategory_path(category) %></li>
	  <li><%= link_to "delete", venuecategory_path(category), method: :delete,
			data: { confirm: "All venues in this category will become uncategorized. Delete #{category.name}? " },
	  	title: "Delete #{category.name}? " %></li>		
	</ul>
</div>
<span class=<%= level+"-description" %>>Includes <%= category.venues.count %> venues.	<%= category.description %></span>