<% provide(:page, 'New Client') %>
<% provide(:crumbs, "Clients," + clients_path) %>
<% provide(:title, 'New') %>

<div class="row-fluid">
	<div class="span7 form-box">
		<%= render 'form_client', client: @client %>
	</div>
</div>
