<% provide(:crumbs, "Clients," + clients_path) %>
<% provide(:title, @client.name) %>
<% provide(:delete_record, @client) %>

<%= render 'form_client', client: @client %>

<h2>New Activity</h2>
<%= render 'activities/form_activity', activity: @activity, activitycategories: @activitycategories, works: @works, venues: @venues, clients: @clients %>

<h2>Collected Works</h2>
<% if @activities.any? %>
<%= render 'activities/table_activities', activities: @activities, date_end_include: false, client_include: false %>
<% else %>
This client has not yet purchased works.
<% end %>

