<% provide(:title, 'Venues') %>

<% if @venues.any? %>
	<% provide(:new_form, "new_venue") %>

	<div id="new_venue" class="not-displayed">
		<%= render 'shared/form_venue', venue: @venue %>
	</div>
  <%= render 'shared/table_venues', venues: @venues %>
<% else %>
	<%= render 'shared/get_started_venues' %>
<% end %>



