<% provide(:title, 'Venues') %>

<% if @venues.any? %>
	<% provide(:new_form, "new_venue") %>

	<div id="new_venue" class="not-displayed">
		<%= render 'form_venue', venue: @venue, venuecategories: @venuecategories %>
	</div>
  <%= render 'table_venues', venues: @venues %>
<% else %>
	<%= render 'get_started_venues', venue: @venue, venuecategories: @venuecategories %>
<% end %>



