<% provide(:title, 'Venues') %>

<% if @venues.any? %>
  <%= render 'shared/list_venues', venues: @venues %>
<% else %>
<p> Start adding venues for easier management of your business and works.</p>
<% end %>



