<% provide(:page, 'New Venue') %>
<% provide(:crumbs, "Venues," + venues_path) %>
<% provide(:title, 'New') %>

<div class="row-fluid">
	<div class="span7 form-box">
		<%= render 'form_venue', venue: @venue, venuecategories: @venuecategories %>
	</div>
</div>
