<% provide(:title, 'Venue categories') %>
<% provide(:new_form, "new_venuecategory") %>

<div id="new_venuecategory" class="not-displayed">
  <%= render 'shared/form_category', category: @category %>
</div>
<% if @venuecategories.any? %>
<ul class="list">
  <% @venuecategories.each do |venuecategory| %>
    <li  class="spaced">
      <%= render 'shared/list_element_venuecategory', level: 'list', category: venuecategory %>
      	<ul class="sublist"><li>
	 				<% if venuecategory.venues.any? %>
            <% venuecategory.venues.each do |venue| %>
              <li class="spaced">
              <%= render 'shared/list_element_venue', venue: venue %>
             </li>
            <% end %>
          <% end %>
      	</li></ul>
    </li>
  <% end %>
</ul>
<% else %>
	<%= render 'shared/get_started_venuecategories' %>
<% end %>