<p>Have a lot of works? Create work categories to help organize your works.</p>
<p>A couple points about categories:</p>
<ul>
	<li>Categories can be added, modified or deleted at any time. When a category is deleted works in that category become 'uncategorized' - not deleted</li>
	<li>Works can belong to a single category at a time and can be moved from category to category at any time.</li>
	<li>Good categories capture a body of work you wish to present as a collection either because of when it was created and the common themes the collection may include or because of how it was created. Categories should not try to capture the "status" of the works (e.g. "Commissioned", "Sold", etc) since this will be automatically managed by the tool. </li>
	<li>Makers' Moon supports parent and child categories. A category becomes a parent when another category claims it as its parent. No children categories can have children of their own.
	
</ul>
<p> For example </p>
<ul>
	<li>Paintings
		<ul>
			<li>Early Figures</li>
			<li>Costal Landscapes</li>
			<li>Abstract Architecture</li>
		</ul>
	</li>
	<li>Mixed media
		<ul>
			<li>Paper collage</li>
			<li>Resin mixtures</li>
		</ul>
	</li>
</ul>
</p>