<% provide(:title, 'Work categories') %>

<% if @parentcategories.any? %>
  <% provide(:new_form, "new_workcategory") %>

  <div id="new_workcategory" class="not-displayed">
    <%= render 'form_workcategory', category: @workcategory, categories: @parentcategories %>
  </div>
  <ul class="list">
    <% @parentcategories.each do |parent| %>
      <li class="spaced">
        <%= render 'list_element_workcategory', category: parent %>
      	<ul class="sublist">
      		<% if parent.children.any? %>
      			<% parent.children.each do |child| %>
         	 		<li class="spaced">
           		<%= render 'list_element_workcategory', category: child %>
         		 </li>
        		<% end %>
        	<% end %>
      	</ul>
      </li>
    <% end %>
  </ul>
<% else %>
	<%= render 'get_started_workcategories', category: @workcategory, categories: @parentcategories %>
<% end %>
