<% provide(:title, 'Work categories') %>

<% if @workcategories.any? %>
<h1><%= yield(:title) %> <span class="h2"><%= link_to "New", new_workcategory_path %></span></h1>
<ul class="list">
  <% @workcategories.each do |workcategory| %>
    <li>
      <%= render 'shared/work_category_list_element', level: 'list', category: workcategory, edit: edit_workcategory_path(workcategory) %>
      <ul class="sublist">
      	<% workcategory.worksubcategories.each do |worksubcategory| %>
          <li>
            <%= render 'shared/work_subcategory_list_element2', level: 'sublist', category: workcategory, subcategory: worksubcategory %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
<% else %>
<h1> Get started!</h1>
<p> Categorize your work for better management and easier integration with websites. For example...</p>
<ul>
	<li>Paintings
		<ul>
			<li>Landscapes</li>
			<li>Abstract</li>
		</ul>
	</li>
	<li>Mixed media
		<ul>
			<li>Paper collage</li>
			<li>Resin mixtures</li>
		</ul>
	</li>
</ul>
<% end %>
