<% provide(:crumbs, "Work categories," + workcategories_path) %>
<% provide(:title, @workcategory.name) %>
<% provide(:edit_form, "edit_workcategory") %>
<% provide(:delete_record, @workcategory) %>

<div id="edit_workcategory" class="not-displayed">
  <%= render 'form_workcategory', category: @workcategory, categories: @parentcategories %>
</div>
<%= @workcategory.description %>

<% if @works.any? %>
  <%= render 'works/table_works', works: @works, include_category: false, include_subcategory: true %>
<% end %>
