<%= render 'shared/work_category_list_element', level: 'h1', category: @workcategory %>
<ul class="list">
	<% @workcategory.worksubcategories.each do |worksubcategory| %>
		<li>
			<%= render 'shared/work_subcategory_list_element', level: 'list', category: @workcategory, subcategory: worksubcategory %>
		</li>
	<% end %>
</ul>
