<%= render 'shared/work_subcategory_list_element', level: 'h1', category: @workcategory, subcategory: @worksubcategory %>
<% if @works.any? %>
  <%= render 'shared/works_list', works: @works %>
<% else %>
	<p>Do you have new works to add to this section?</p>
<% end %>