/* my variables */
$grayBlue: #C8C8D7;
$brandColor: darken($grayBlue, 40%);

$outerPadding: 20px;
$backgroundColor: #F0F0F0;
$contentBackgroundColor:  #F0F0F0;
$backgroundColorAccent: #C0D0F0;
$opacityOfIcons: .60;

/* bootstrap variable changes */
$black: #000 !default;

$linkColor:             darken(#0066cc, 15%);
$linkColorHover:        darken($linkColor, 15%);
$navbarLinkColorActive: $linkColorHover;

$navbarHeight:                    70px;
$navbarBackgroundHighlight:       #ffffff !default;
$navbarBackground:                $grayBlue; //darken($navbarBackgroundHighlight, 20%)
$navbarBorder:                    darken($navbarBackground, 12%) !default;


/* bootstrap mixin changes made in mixin file but included here too*/
@mixin grid-fluid ($columnWidth, $gutterWidth) {
  .row-fluid {
    width: 100%;
    @include clearfix();
    [class*="span"] {
      @include input-block-level();
      float: left;
      margin-left: $gutterWidth;
      *margin-left: $gutterWidth - (.5px / $gridRowWidth * 100 * 1%);
    }
    [class*="span"]:first-child {
      margin-left: 0;
    }
	//JD: Added
	[class*="first-child"] {
      margin-left: 0; 
    }

    // generate .spanX and .offsetX
    @for $i from 1 through $gridColumns {
      .span#{$i} { @include grid-fluid-span($i, $columnWidth, $gutterWidth); }
      .offset#{$i} { @include grid-fluid-offset($i, $columnWidth, $gutterWidth); }
      .offset#{$i}:first-child { @include grid-fluid-offsetFirstChild($i, $columnWidth, $gutterWidth); }
    }
  }
}

@import "bootstrap";

/* bootstrap class changes */

.navbar-inner {
	padding-left: $outerPadding;
	padding-right: $outerPadding;
}

.navbar .brand {
	padding: ($navbarHeight - $baseLineHeight * 1.5) 0px $baseLineHeight 0px; //JD
  font-size: 40px; //JD
  font-weight: 150; //JD
  text-transform:uppercase; //JD
  text-shadow: 0 0 1px $navbarBackgroundHighlight; //JD
  color: $brandColor;
}

.form-horizontal .field_with_errors
{
  margin: 0;
}

.form-horizontal .field_with_errors:before, .form-horizontal .field_with_errors::after 
{
  display: block;
  clear: none;
}

.form-box {
	border:2px solid white;
	border-radius:10px;
	box-shadow: 5px 5px 2px #DDDDDD;
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
}

.limit-size{
	max-height: 400px;
	overflow-x: auto;
	overflow-y: auto;
}

.td_tiny { width: 1%; }
.td_small { width: 5%; } /* 5 */ 
.td_medium { width: 7%; } /* 2 */
.td_large { width: 10%} /* 4 */
.td_x_large { width: 19%} /* 1 */
.td_bold {
   background-color: darken($contentBackgroundColor,5%);
}
.centered {
	align: center;
}

table {
	caption {
	text-align:left;
	}
}
table.small-box{
	tbody{ height:150px; }
}

table.editable_no_scroll{
	thead { margin:0px; left:0px; font-size:16px;}
	th { height:50px; div { overflow: hidden; } }
	td { height:30px; margin:0px; padding:3px;}
	input[type="text"] { border:0px; margin:0px; padding:0px; background-color: transparent; box-shadow:none; font-size:12px; text-align:center;}
	.checkbox { vertical-align: middle; }
	select { border:0px; margin:0px; padding:0px; background-color: transparent; font-size:12px; }
}
table.editable{
	width: 100%;
	table-layout: fixed;
	thead { display:block; margin:0px; left:0px; font-size:12px; tr { display:block;}}
	tbody { display:inline-block;  overflow-y:scroll; overflow-x:hidden; max-height:300px; width:100%; }
	th { height:50px; div { overflow: hidden; } }
	td { height:30px; margin:0px; padding:0px;}
	input[type="text"] { border:0px; margin:0px; padding:2px; background-color: transparent; box-shadow:none; font-size:12px;}
	.checkbox { vertical-align: middle; }
	select { border:0px; margin:0px; padding:2px; background-color: transparent; font-size:12px; }
	.above_scroll { width:2%; border-top:0px; border-right:0px; border-bottom:0px;}
}

table.overflow_auto {
	tbody { overflow-y:auto; overflow-x:auto; }
	td { word-wrap:break-word;}
}

.tooltip {
	z-index: auto;
	opacity:1;
}

.popover {
	z-index: auto;
	opacity:1;
}

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}


/* universal */

html {
	height:100%;
}
body{
	height:100%;
	background:$backgroundColor;
	font-family: 'PT Sans Narrow', Arial, sans-serif;
	font-size:16px;
}

.icon{
	background-image:url("MakersMoonIconTransparent.gif");
	background-size:64px 64px;
	background-repeat:no-repeat;
}

footer{
	position: relative;
	height: $navbarHeight;
	padding: 5px $outerPadding 0 $outerPadding;
	@include gradient-vertical($navbarBackground,$navbarBackgroundHighlight);
  border: 1px solid $navbarBorder;
  @include box-shadow(0 1px 4px rgba(0,0,0,.065));
  color: $brandColor;
}

h1{
	padding:0px 0px 15px 0px;
	font-size:30px;
	font-weight:100;
	text-transform:uppercase;
	text-shadow:0px 0px 1px #fff;
	color:#333;
}

h2, .h2{
	font-size:20px;
	font-weight:100;
	text-transform:uppercase;
	text-shadow:0px 0px 1px #fff;
	
}

h3, .h3{
	font-size:20px;
	font-weight:200;
	text-transform:none;	
}

.p {
	font-size:15px;
	text-transform:none;
}

.small-font {
	font-size:13px;
	text-transform:none;
}

a{
	color:$linkColor;
	text-decoration:none;
}

a:hover {
	text-decoration:none;
}

/* layout */

.less-indent {
	position: relative;
	left: -30px;
}

#content-container {	
	background:$contentBackgroundColor;
	min-height: 600px;
	display:block;
	padding-bottom:40px;
	padding-right:60px;
}

#sidebar {
	background-image:url("SidebarImageLight.jpg");
	background-repeat:no-repeat;
	background-position:left top;
	background-color: #A2A4B1;
	position:fixed;
	top: 75px;
	left: 0px;
	padding: 10px 10px 0px $outerPadding;
	-moz-border-radius: 0px 15px 15px 0px;
	border-radius: 0px 15px 15px 0px;
}

#toggleSidebar {
	position:absolute;
	top:10px;
	right:2px;
}
#content {
	position:relative;
}

/*
.sidebar-glide {
    -webkit-transition: width 0.3s ease, margin 0.3s ease;
    -moz-transition: width 0.3s ease, margin 0.3s ease;
    -o-transition: width 0.3s ease, margin 0.3s ease;
    transition: width 0.3s ease, margin 0.3s ease;
    margin-left:0px;
}
*/

.gone {
    width:0px;
    margin-left:0px;
    min-height:25px;
}

#crumbs {
	position: relative;
}

#crumb-text {
	position: relative;
	font-size:15px;
	text-transform:uppercase;
}

.content-title {
	position: relative;
}
.content-body {
	position: relative;
}

.landing {
	margin:auto;
 	float:none;
}

.landing-top-margin {
	margin:80px auto 0px auto;
}

.center {
	text-align: center;
}

.first-child {
	margin-left:0;
}

.not-displayed {
  display: none; 
}

.icon-edit, .icon-trash, .icon-print, .icon-th, .icon-th-list, .lighter{
	opacity: $opacityOfIcons; /* opacity [0-1] */
  -moz-opacity: $opacityOfIcons; /* opacity [0-1] */
  -webkit-opacity: $opacityOfIcons; /* opacity [0-1] */
/*  filter:alpha(opacity=50); For IE8 and earlier */
}
.relative {
	position: relative;
}

.in-front {
	z-index: 10000; 
}

.f-right {
	float: right;
}

.f-left {
	float: left;
}

.table-header-text {
	padding-top: 40px;
}

.table-header-shading {
	background: -webkit-linear-gradient(white, #F0F0F0); /* For Safari */
	background: -o-linear-gradient(white, #F0F0F0); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(white, #F0F0F0); /* For Firefox 3.6 to 15 */
	background: linear-gradient(white, #F0F0F0); /* Standard syntax */
	border-bottom-width: 5px;
	border-bottom-color: #555555;
	padding-top: 40px;
}

.padded-table {
	width:100%;
  th {
		padding: 10px 10px 5px 10px;

  }
	td {
		padding: 10px 10px 5px 10px;
		text-align: center;

	}
	.left {
	text-align: left;
}
}

.less-indent {
	position: relative;
	left: -12px;
}

.bottom {
	vertical-align: middle;
}

#sidebar-content {
    float: left;
    margin-top: auto;
}

.sidebar-sublist {
	margin-left: 8px;
}

.accordion-heading .accordion-toggle-small {
    display: block;
    padding: 4px 8px;
}

.accordion-inner-small {
    border-top: 1px solid #e5e5e5;
    padding: 4px 8px;
}

.accordion-list {
	list-style: none;
	margin: 4px 6px;
}

.divider {
	border-top: 1px dotted #e5e5e5;
}

/* tables */
.no-decorations {
	td {
		padding: 0px;
		border:0px;
	}
}


/* lists */

.spaced {
	padding: 5px 0;
	border-top: 0px solid #e8e8e8;
}

.description {
	font-size:15px;
  color: $grayLight;
}

.list {
  list-style: none;
  margin: 3px 0 0 0;
}

.indent {
	margin-left: 40px;
}

.list-name{
	font-size:20px;
}

.sublist {
	list-style: none;
}

.sublist-name{
	font-size:15px;
}

.dropdown-item {
	padding: 4px 0;
	list-style: none;
}


/* forms */

input, textarea, select, .uneditable-input {
#  border: 1px solid #bbb;
  width: 100%;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

.form-section {
	border: 1px solid #e8e8e8;
}

.control-group {
	margin:5px;
}

/* Tables */

td, th {
	border:1px solid white;
  vertical-align:middle;
  padding: 4px;
}
.overflow{
	max-width: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.largeoverflow{
	max-width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Site about */

 .about-image{
	position: relative;
	overflow:hidden;
}
.about-text{
	position: absolute;
	top: 0px;
	right: 60px;
	width: 55%;
}

.about-venues{
	position:relative;
}

/* Site contact */

.contact-text{

}

.subjects{
	max-height: 300px;
	overflow: auto;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.work_quantity_text_field {
	width:30px;
}
