@import "bootstrap";

/* variables */
$absolutePositionSection: 90px;
$absolutePositionSectionContent: 150px;
$backgroundColor: #F0F0F0;
$shadedColor: #6D7B8D;
$opacityOfEditAndDeleteIcons: .60;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* universal */

body{
	background:$backgroundColor;
	color:#000;
	font-family: 'PT Sans Narrow', Arial, sans-serif;
	font-size:16px;
	max-width:1400px;
	min-width:650px;
}

footer{
	padding: 20px;
}

h1, .h1-name{
	position:absolute;
	top:$absolutePositionSection;
	padding:5px 0px;
	margin:0px;
	font-size:30px;
	font-weight:100;
	text-transform:uppercase;
	text-shadow:0px 0px 1px #fff;
	color:#333;
}

h2, .h2{
	font-size:20px;
}

a{
	color:#6D7B8D;
	text-decoration:none;
	&:hover{
		text-decoration:underline;
	}
	currentnav {
	 font-weight:bold;
	 color:#333;
  }
  nav{
	 color:#333;	
  }
}

.container{
	margin:80px 60px 20px 60px;
}

.not-displayed {
/*  display: none; */
}

.icon-edit, .icon-trash {
	opacity: $opacityOfEditAndDeleteIcons; /* opacity [0-1] */
  -moz-opacity: $opacityOfEditAndDeleteIcons; /* opacity [0-1] */
  -webkit-opacity: $opacityOfEditAndDeleteIcons; /* opacity [0-1] */
/*  filter:alpha(opacity=50); For IE8 and earlier */
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

.form-section {
	border: 1px solid #e8e8e8;
}

/* lists */
.list {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}


.list-name{
	font-size:20px;
}
.list-description {
  color: $grayLight;
}

.sublist-name{
	font-size:15px;
}
.sublist-description {
  color: $grayLight;
}


/* about */
 .about-image{
	overflow:hidden;
	position:absolute;
	top:$absolutePositionSectionContent;
}
.about-text{
	width:55%;
	position:absolute;
	top:$absolutePositionSectionContent;
	left:475px;
}

/* contact */
.contact-text{
	position:absolute;
	top:$absolutePositionSectionContent;

}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
