// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.back{
	margin:0 auto;
	background-color:black;

}

.moon{
	padding-top:40px;
	background-color:#121643;
	background-image:url("LandingImageShort.jpg");
	background-repeat:no-repeat;
	vertical-align: bottom;
	max-width:1024px;
	float:center;
	margin:0 auto;
}

.box_signin{
	position:relative;
	right:10px;
	float:left;
}

.box{
	padding:10px 30px 120px 30px;
	position:relative;
	right:50px;
}

.tinted{
	background-color:#121643;
	background: rgb(18, 22, 67); /* Fall-back for browsers that don't support rgba */
  	background: rgba(18, 22, 67, .4);
}

.landing_title{
	padding:0px 0px 15px 0px;
	font-size:70px;
	font-weight:100;
	text-transform:uppercase;
	color:#06C;
}
.small{
	font-size:45px;
	color:#888;
}
.landing_tag{
	font-size:15px;
	font-weight:100;
	color:#FFF;
	margin-bottom:40px;
}
.landing_description{
	color:#888;
	margin-bottom:175px;
}

.top_padding {
	padding-top:30px;
}

.beta-link {
	position: relative;
	top: -10px;
	float: right;
}

.alt-link {
	a:hover {
		color:#FFFFFF;
	}
}