// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$baseBlue: #A6ABCB;
$hightlightBlue: #000055;
$dullBlue: #445;
$glow: #ffffff;

.back{
	margin:0 auto;
	background-color:$baseBlue;
}

.header{
  background-image:url('Header.jpg');
  background-repeat: no-repeat;
  background-position:right top;
  height:160px;
}

.nav_public {
	position: relative;
	padding:20px 30px 5px 30px;
	height:80px;
	text-transform:uppercase;
	text-align:bottom;
	box-shadow: 0px 30px 40px rgba(0,0,0,.1);
}

.public_brand{
	position: absolute; bottom: 20px; left: 30px;
	font-size:75px;
	font-weight:100;
	color:$hightlightBlue;
	text-shadow:0px 0px 1px $glow;
}
.small{
	font-size:45px;
	color:$dullBlue;
	text-shadow:0px 0px 1px $glow;
}

.nav_links {
	position: absolute; bottom: 0; right: 220px;
	a {
		padding-left:20px;
	}
}

.sign_links{
	position: absolute; bottom:0; right:100px;
	text-align:center;
	color:#777;
	font-size:15px;
	font-weight:150;
	text-shadow:0px 0px 1px $glow;

	a {
	font-size:25px;
	}
}

.tag_line{
	padding:10px 30px 5px 30px;
	font-size:15px;
	font-weight:100;
	color:#FFF;
}

.public_table_header {
	background: -webkit-linear-gradient(white, $baseBlue); /* For Safari */
	background: -o-linear-gradient(white, $baseBlue); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(white, $baseBlue); /* For Firefox 3.6 to 15 */
	background: linear-gradient(white, $baseBlue); /* Standard syntax */
	border-bottom-width: 5px;
	padding-top: 40px;
}

.public_table {

  th {
		padding: 10px 10px 5px 10px;

  }
	td {
		padding: 10px 10px 5px 10px;
		text-align: center;
	}
	.left {
		text-align: left;
	}
}

.pricing_questions {
	position: relative;
	h3 {
		font-style:italic
	}
}

.pricing_questions_content {
	position: absolute; top:-20px;
}

#public_footer {
	height: 50px;
}

.features_image {
	-moz-border-radius: 120px;
	border-radius: 120px;
}

.home-links {
	position: relative;
}

.center {
	position: absolute;
	top:45%;
	left:auto;
	font-size:25px;
	font-weight:900;
}


.tinted{
	background-color:#121643;
	background: rgb(18, 22, 67); /* Fall-back for browsers that don't support rgba */
  	background: rgba(18, 22, 67, .4);
}


.landing_description{
	color:#888;
	margin-bottom:175px;
}

.top_padding {
	padding-top:30px;
}

.alt-link {
	position: relative;
	top: 0px;
	float: right;
	font-size:15px;
	font-weight:100;
	text-transform:none;
	text-shadow:0px 0px 0px #fff;
}

.alt-link {
	a:hover {
		color:#FFFFFF;
	}
}