// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$pw_height: 300px;

.pw_container{
	padding: 1%;
    background-color: #EEEEEE;
    -moz-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow:0px 1px 3px rgba(0, 0, 0, 0.9);
	-webkit-box-shadow:0px 1px 3px rgba(0, 0, 0, 0.9);
	box-shadow:0px 1px 3px rgba(0, 0, 0, 0.9);
}

.pw_height{
	height: $pw_height;
}

.pw_image{
	text-align: center; 
}

.pw_statement{
	padding-top:20px;
}

.pw_thumbnail{
#	border: 0px solid #DDDDDD;
	width: 70px;
	text-align: center; 
}

.pw_thumbnail:hover{
	opacity:0.8;
}

#pw_thumbnails{
	padding-left: 5%;
}
div.mousescroll {
    overflow: hidden;
}
div.mousescroll:hover {
    overflow-y: scroll;
}

.slimScrollDiv { border: 1px solid #ccc; margin:10px; }

.user-index-panel{
	position:relative;
	z-index: 900;
	height:400px;
	overflow:auto;
	img {
		-moz-border-radius: 20px;
		border-radius: 20px;
	}
	.user-works {
	display:inline-block; vertical-align:middle
	}
	h4 {
	z-index:-1;
	}

	.p {
	z-index:-1;
	}
}

.makers_image {
	margin-right:10px;
	margin-bottom:10px;
}
