// Place all the styles related to the works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#works_thumb_view {
	width: "100%";

	td {
	text-align: center;
	padding: 10px;
	}

	img {
		max-height:200px;
	}

}

$header_height:50px;
$body_height:400px;


.edit_works_submits{
	position:absolute;
	top: $header_height + $body_height + 30;
}
