<p>Make a sale or donate, gift, or recycle a piece? Do you have a new commission or consignment? Tell us about it so Makers' Moon can keep track of your work.</p>

<h2>Describe the recent activity </h2>
<%= render 'form_activity', activity: activity, activitycategories: activitycategories, works: works, venues: venues, clients: clients %>