<p>By recording where your art is shown and who purchases your art you will develop a richer appreciation for the components of your business that are working. There are different types of activities:</p>
<ul>
  <% Activity::CATEGORIES_ARRAY.each do |category| %>
    <li  class="spaced">
      <%= category[:name] %>: <span class="description"><%= category[:description] %></span>
    </li>
  <% end %>
</ul>
<p>Activities are built from existing works, clients and or venues. Make sure to enter those things before the activity.</p> 