<% provide(:title, 'Activities') %>
<% provide(:new_form, "new_activity") %>

<div id="new_activity" class="not-displayed">
	<%= render 'shared/form_activity', activity: @activity %>
</div>

<% if @activities.any? %>
  <%= render 'shared/table_activities', activities: @activities %>
<% else %>
	<%= render 'shared/get_started_activities' %>
<% end %>
