<% provide(:title, "Successful upgrade") %>
<p>Congratulations! You have successfully upgraded your Makers' Moon account.</p>
<p>Please visit your <%= link_to "dashboard", user_path(@user) %> to confirm your current subscription tier. If it has not updated PayPal has not yet notified us. It should only take a couple of moments.</p>