<% provide(:title, @site.brand) %>
<h1><%= yield(:title) %><span class="h2"><%= link_to " edit", edit_site_path(@site) %></span></h1>

<p>The information input creates several public pages to promote you and your work.</p>

<h2>Home page</h2>
<h2>About page</h2>
<h2>Blog link</h2>
<h2>Contact page</h2>
