<% provide(:crumbs, 'Sites,' + sites_path) %>
<% provide(:title, @site.brand) %>
<% provide(:edit_link, edit_site_path(@site)) %>

<p>The information shown is used to create several public pages to promote you and your work.</p>

<h2>Home page</h2>
<h2>About page</h2>
<h2>Blog link</h2>
<h2>Contact page</h2>
