<footer class="navbar navbar-static-bottom">
  <div class="navbar-inner">
      <nav>
        <a class="brand">Geronimo</a>
        <ul class="nav pull-right">
          <li><%= link_to "Sign Up", signup_path %></li>
          <li><%= link_to "Log in", "#" %></li>
         </ul>
      </nav>
   
  </div>
</footer>