<div id="sidebar-content" class="show">
  MY BUSINESS<br /><br />
  <div class="accordion" id="accordianParent">
    <div class="accordion-group">
      <%= render 'layouts/sidebar_works' %>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <%= link_to "Venues", venues_path, class: "accordion-toggle-small" %>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <%= link_to "Clients", clients_path, class: "accordion-toggle-small" %>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <%= link_to "Insights", insight_user_path(current_user), class: "accordion-toggle-small" %>
      </div>
    </div>
  </div>
</div>