<div class="navbar-inner">
    <nav>
      <a class="brand"><%= @user.name %></a>
      <ul class="nav pull-right">
        <% if @user.share_about %>
          <li><%= link_to "About", about_user_path(@user) %></li>
        <% end %>
        <% if @user.blog.present? %>
          <li><%= link_to "Blog", "#{@user.blog}" %></li>
        <% end %>  
        <% if @user.share_works && @user.works.shared_with_public.any? %>
          <% @user.workcategories.parents_of_shared_with_public.each do |parent| %>
            <% children = @user.workcategories.children_of_parent(parent).shared_with_public %>
            <% if children.count > 0 %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= parent.name %> <b class="caret"></b>
                <ul class="dropdown-menu">
                  <% if @user.works.shared_with_public.in_category(parent).any? %>
                    <li><%= link_to parent.name, "/makers/#{@user.to_param}/#{parent.name}" %></li>
                  <% end %>
                  <% children.each do |child| %>
                    <li><%= link_to child.name, "/makers/#{@user.to_param}/#{child.name}" %></li>
                  <% end %>
                </ul>
              </li>
            <% elsif @user.works.shared_with_public.in_category(parent).any? %>
              <li><%= link_to parent.name, "/makers/#{@user.to_param}/#{parent.name}" %></li>                
            <% end %>
          <% end %>
        <% end %>
        <% if @user.share_purchase %>
          <li><%= link_to "Purchase", purchase_user_path(@user) %></li>
        <% end %>
        <% if @user.share_contact %>
          <li><%= link_to "Contact", contact_user_path(@user) %></li>
        <% end %>
        <% if signed_in? %>
          <li><%= link_to "Makers' Moon", user_path(@current_user) %></li>
        <% end %>
      </ul>
    </nav>
</div>